﻿
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

<div class="main-page">
    <div class="col_3">
        <div class="col-md-3 widget widget1">
            <div class="r3_counter_box">
                <i class="pull-left fa fa-book icon-rounded"></i>
                <div class="stats">
                    <h5><strong>@ViewBag.TongDDH</strong></h5>
                    <span>Số lượng đơn đặt hàng</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 widget widget1">
            <div class="r3_counter_box">
                <i class="pull-left fa fa-user-plus user1 icon-rounded"></i>
                <div class="stats">
                    <h5><strong>@ViewBag.TongThanhVien</strong></h5>
                    <span>Số lượng thành viên</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 widget widget1">
            <div class="r3_counter_box">
                <i class="pull-left fa fa-money user2 icon-rounded"></i>
                <div class="stats">
                    <h5><strong>@ViewBag.TongKho</strong></h5>
                    <span>Số lượng kho</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 widget widget1">
            <div class="r3_counter_box">
                <i class="pull-left fa fa-users user2 icon-rounded"></i>
                <div class="stats">
                    <h5><strong>@ViewBag.TongShipper</strong></h5>
                    <span>Số lượng shipper</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 widget widget1">
            <div class="r3_counter_box">
                <i class="pull-left fa fa-users dollar2 icon-rounded"></i>
                <div class="stats">
                    <h5><strong>@ViewBag.SoLuongNguoiDangOnline</strong></h5>
                    <span>Tổng số người online</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 widget">
            <div class="r3_counter_box">
                <i class="pull-left fa fa-users dollar2 icon-rounded"></i>
                <div class="stats">
                    <h5><strong>@ViewBag.SoNguoiTruyCap</strong></h5>
                    <span>Tổng số lượng người truy cập</span>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="row-one widgettable">
  
        <div class="col-md-3 stat">
            <div class="content-top-1">
                <div class="col-md-6 top-content">
                    <h5>Đơn đặt hàng đã hoàn thành</h5>
                    <label>@ViewBag.SLDDHPass</label>
                </div>
                <div class="col-md-6 top-content1">
                    <div id="demo-pie-1" class="pie-title-center" data-percent="@ViewBag.PhanTramDDH"> <span class="pie-value"></span> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="content-top-1">
                <div class="col-md-6 top-content">
                    <h5>Số lượng shipper đang đi giao</h5>
                    <label>@ViewBag.ShipperDG</label>
                </div>
                <div class="col-md-6 top-content1">
                    <div id="demo-pie-2" class="pie-title-center" data-percent="@ViewBag.PhanTramShipper"> <span class="pie-value"></span> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="content-top-1">
                <div class="col-md-6 top-content">
                    <h5>Số lượng thành viên chưa được phân loại</h5>
                    <label>@ViewBag.ThongKeThanhVienMoiDangKy</label>
                </div>
                <div class="col-md-6 top-content1">
                    <div id="demo-pie-3" class="pie-title-center" data-percent="@ViewBag.PhanTramThanhVien"> <span class="pie-value"></span> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div>
            <img style="width: 70%;height:70%; float:right" src="https://codetot.net/wp-content/uploads/2018/06/gitlab.png" />
        </div>
        <div class="clearfix"> </div>
    </div>




    <script src="~/Content/HomeLayout/js/amcharts.js"></script>
    <script src="~/Content/HomeLayout/js/serial.js"></script>
    <script src="~/Content/HomeLayout/js/export.min.js"></script>
    <link rel="stylesheet" href="~/Content/HomeLayout/css/export.css" type="text/css" media="all">
    <script src="~/Content/HomeLayout/js/light.js"></script>


    <script src="~/Content/HomeLayout/js/index1.js"></script>





</div>
